.body{
  font-family: auto;
}

.navbar{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: skyblue;
  color: white;
  font-size: 20px;
  font-family: auto;
}
.navbar >li{
   list-style-type: none;
}
.fa-heart{
  color: red;
}
.search-form{
  display: flex;
    justify-content: center;
    padding: 20px;
}
.search-input{
  width: 20%;
}
::placeholder{
  text-align: center;
  font-family: auto;
}
.categoy{
  text-align: center;
  padding: 40px;
  font-family: auto;
}
.displyrep{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.footer{
  text-align: center;
  background-color: salmon;
  font-family: auto;
}
a:link{
  text-decoration: none;
}

li{
  list-style: none;
}